body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  padding: 20ch;
  background: white;

}

#oscillator {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#oscRange {
  width: 100%;
}