// /* Range Slider */
// /* resets */

// input[type="range"] {
//     -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
//     width: 100%; /* Specific width is required for Firefox. */
//     background: transparent; /* Otherwise white in Chrome */
// }

// input[type="range"]::-webkit-slider-thumb {
//     -webkit-appearance: none;
// }

// input[type="range"]:focus {
//     outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
// }

// input[type="range"]::-ms-track {
//     width: 100%;
//     cursor: pointer;

//     /* Hides the slider so custom styles can be added */
//     background: transparent;
//     border-color: transparent;
//     color: transparent;
// }
// /* end reset */

// /* Range Thumb Styling */

// /* Special styling for WebKit/Blink, Firefox */

// input[type="range"]::-webkit-slider-thumb,
// input[type="range"]::-moz-range-thumb {
//     -webkit-appearance: none;
//     // border: 1px solid #000000;
//     height: var(--s2);
//     width: var(--s2);
//     border-radius: 50%;
//     border: none;
//     background: var(--red);
//     cursor: pointer;
//     margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
//     // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
// }

// /* All the same stuff for IE */
// input[type="range"] {
//     // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     height: var(--s2);
//     width: var(--s2);
//     border-radius: 50%;
//     background: var(--red);
//     cursor: pointer;
// }

// /* Range slider track styles */

// input[type="range"]::-webkit-slider-runnable-track,
// input[type="range"]::-moz-range-track {
//     width: 100%;
//     height: var(--s-1);
//     cursor: pointer;
//     // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     background: var(--blue);
//     border-radius: 10px;
//     // border: 0.2px solid #010101;
// }

// input[type="range"]::-ms-track {
//     width: 100%;
//     height: var(--s-1);
//     cursor: pointer;
//     // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     background: var(--blue);
//     border-radius: 10px;
// }
// input[type="range"]::-ms-fill-lower {
//     background: var(--blue);
//     // border: 0.2px solid #010101;
//     border-radius: 10px;
//     // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
// }

// input[type="range"]::-ms-fill-upper {
//     background: var(--blue);
//     // border: 0.2px solid #010101;
//     border-radius: 10px;
//     // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
// }

// @mixin thumb() {
//     -webkit-appearance: none;
//     // border: 1px solid #000000;
//     height: var(--s2);
//     width: var(--s2);
//     border-radius: 50%;
//     border: none;
//     background: var(--red);
//     cursor: pointer;
//     margin-top: -14px;
// }

// input {
//     &::-webkit-slider-thumb {
//       @include thumb;
//     }
//     &::-moz-range-thumb {
//       @include thumb;
//     }
// }

// @mixin track() {
//     /* common styles */
//     width: 100%;
//     height: var(--s-1);
//     cursor: pointer;
//     // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     background: var(--blue);
//     border-radius: 10px;
// }

// input {
//     &::-webkit-slider-runnable-track {
//         @include track;
//     }
//     &::-moz-range-track {
//         @include track;
//     }
//     &::-ms-track {
//         @include track;
//     }
// }

input[type="range"] {
    width: 100%;
    // margin: 10.95px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

/* Webkit Styles */
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--blue);
    border: none;
    border-radius: 25px;
    width: 100%;
    height: var(--s-1);
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    margin-top: -9px;
    height: var(--s2);
    width: var(--s2);
    background: var(--red);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--blue);
}

/* Firefox Styles */
input[type="range"]::-moz-range-track {
    background: var(--blue);
    border: none;
    border-radius: 25px;
    width: 100%;
    height: var(--s-1);
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    height: var(--s2);
    width: var(--s2);
    background: var(--red);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
}

/* Edge/IE Styles */
input[type="range"]::-ms-track {
    background: var(--blue);
    border: none;
    border-radius: 25px;
    width: 100%;
    height: var(--s-1);
    cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
    background: var(--blue);
    border: none;
    border-radius: 50px;
}
input[type="range"]::-ms-fill-upper {
    background: var(--blue);
    border: none;
    border-radius: 50px;
}
input[type="range"]::-ms-thumb {
    height: var(--s2);
    width: var(--s2);
    background: var(--red);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
    /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
    background: var(--blue);
}
input[type="range"]:focus::-ms-fill-upper {
    background: var(--blue);
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type="range"] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}
