// // #oscRange--container {
// //     transform: rotate(90deg);
// //     height: 100%;
// // }
// /* Orient the slider vertically */
// .rangeVertical {

// //    transform: rotate(-90deg);
// }
// input[type="range"] {
//     -webkit-appearance: none;
//     &[orient="vertical"] {
//         margin: 0 auto;
//         writing-mode: bt-lr; /* IE */
//         width: var(--s0);
//         height: 100%;
//         text-align: center;
//         // -webkit-appearance: none;
//         // -webkit-appearance: slider-vertical; /* WebKit */

//         &::-webkit-slider-thumb { 
//             -webkit-appearance: none;
//             background: green;
            
//         }
//         &::-webkit-slide-thumb {
//             height: var(--s3);
//             width: var(--s3);
//             // margin: -12px;
//             background: var(--red);
//             border: none;
//             border-radius: 1000px;
//             cursor: pointer;
//             // transform: rotate(90deg);
//         }
//         &::-webkit-slider-runnable-track {
//             background: var(--blue);
//             border: none;
//             border-radius: 25px;
//             width: 100%;
//             height: 100%;
//             // transform: rotate(0deg);
//             cursor: pointer;
//         }
//     }
// }

// input[type="range"][orient="vertical"]::-moz-range-track {
//     width: var(--s0);
//     height: 100%;
//     text-align: center;
// }
// input[type="range"][orient="vertical"]::-moz-range-thumb {
//     height: var(--s3);
//     width: var(--s3);
// }
// input[type="range"][orient="vertical"]::-ms-thumb {
//     height: var(--s3);
//     width: var(--s3);
//     margin: -10px;
// }

input#oscRange {
    &::-webkit-slider-runnable-track {
    background: var(--blue);
    border: none;
    border-radius: 25px;
    width: 100%;
    height: var(--s0);
    cursor: pointer;
}
&::-webkit-slider-thumb {
    margin-top: -9px;
    height: var(--s3);
    width: var(--s3);
    background: var(--red);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    -webkit-appearance: none;
}

/* Firefox Styles */
&::-moz-range-track {
    background: var(--blue);
    border: none;
    border-radius: 25px;
    width: 100%;
    height: var(--s0);
    cursor: pointer;
}
&::-moz-range-thumb {
    height: var(--s3);
    width: var(--s3);
    background: var(--red);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
}

/* Edge/IE Styles */
&::-ms-track {
    background: var(--blue);
    border: none;
    border-radius: 25px;
    width: 100%;
    height: var(--s0);
    cursor: pointer;
}

&::-ms-thumb {
    height: var(--s3);
    width: var(--s3);
    background: var(--red);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
    /*Needed to keep the Edge thumb centred*/
}

}