main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--s1) 0;
}

#oscillator {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "play freq freq"
      "etc osc buttons";
    gap: var(--s-2);
}

/* GRID Positioning */

#onOff {
  grid-area: play;
}

#output--container {
  grid-area: freq;
  justify-self: right;
}

#oscRange {
  grid-area: osc;
}

#freq--buttons {
  grid-area: buttons;
}

// #shortcuts--container {
//   display: flex;
//   justify-content: center;
// }


#waves--container {
  display: flex;
  flex-direction: column;
}

#etc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}