<!DOCTYPE html>

<html class="no-js">
    {% include "partials/head.njk" %}
    <body>
        <main>
            {{ content | safe }}
        </main>
        <script src="/js/app.min.js" async defer></script>
    </body>
</html>
