/* Oscillator incremental buttons */

.oscAdjust {
    display: block;
    border: 0;
    margin: 0 auto;
    padding: 0 2px;
    width: var(--s4);
    height: var(--s4);
    // padding: var(--s0) var(--s2);
    font-size: var(--s2);
    font-weight: 600;
    color: var(--blue);
    background: transparent;
    border: 4px solid var(--blue);
    border-radius: 20px;
    // &:first-of-type {
    //     margin-bottom: var(--s-1);
    // }
}
